.main-container {
  margin: auto;
}

.flex-container {
  display:flex;
  flex-wrap: nowrap;
  text-align: left;
  justify-content: center;
  background-color: DodgerBlue;
}

.item{
  background-color: white;

  margin: 10px;


  font-size: 10px;
}

/* Section */

.section-wrap {
  padding: 20px;
}

/*Pagination*/

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}*/
